.checkout-form input {
    display: block;
    margin-bottom: 15px;
    margin-left: 50px;
    border-radius: 10px;
}

.checkout-form label {
    margin-left: 50px;

}

.checkout-form {
    border: 1px solid #263082;
    margin: 0 auto;
    position: relative;
    width: 30%;
    border-radius: 20px;
}

.input-submit {
    background-color: #263082;
    width: 65%;
    color: white;
    border-radius: 20px;
}